.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}






/* Navbar CSS */
.navkobich {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: None;
}

.navkobich:active {
  background-color: #04AA6D;
  color: white;
}

.navkobich:hover:not(.active) {
  background-color: #555;
  color: white;
}

.navkobutton:hover {
  background-color: aqua;
}

/* Navbar CSS end */






/* Post Form CSS */
.formcontainer {
  margin-left: 650px;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

formtitle {
  margin-bottom: 20px;
  text-align: center;
  color: #1877f2;
  font-size: 24px;
  font-weight: bold;
}

.formgroup {
  margin-bottom: 20px;
}

.formgroup label {
  font-weight: bold;
  color: #606770;
}

.formgroup input[type="text"],
.formgroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.formgroup textarea {
  height: 100px;
}

.formbtn {
  background-color: #1877f2;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #166fe5;
}

/* Form CSS end */




/* Home CSS */
.userprofile {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 20px;
}

.userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userimage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 17px;
}

.fullname {
  font-weight: bold;
  margin-right: 5px;
}

.username {
  color: #666;
  text-decoration: underline;
}

.postinfo {
  padding-left: 70px;
}

.posttitle {
  font-size: 22px;
  margin-bottom: 10px;
  color: #0055ff;
}

.postcontent {
  font-size: 16px;
  color: #000000;
}

/* Home CSS end */




/* SignUp Form CSS */
.signupbody {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signupcontainer{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
}

.signupcontainer h2 {
  margin-bottom: 20px;
  text-align: center;
}

.signupformgroup {
  margin-bottom: 20px;
}

.signupformgroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signupformgroup input,
.signupformgroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signupformgroup textarea{
  height: 80px;
}

.signupformgroup button{
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
}

.signupformgroup button:hover{
  background-color: #0056b3;
}